.container {
    width:70%;
    margin:auto;
    text-align:center;
}

.dice{
    text-align: center;
    display: inline-block;
}

body{
    background-color:rgb(133, 119, 119)
}

h1{
    margin:30px;
    font-family:'Lobster', cursive;
    text-shadow:5px 0 rgb(109, 106, 106);
    font-size:8rem;
    color:rgb(0, 128, 107);
}

p{
    font-size:2rem;
    color:rgb(0, 128, 107);
    font-family:'Indie Flower', cursive;
}

img{
    width:80%;
}

footer{
    margin-top:5%;
    color:rgb(224, 218, 218);
    text-align:center;
    font-family:'Indie Flower',cursive;
}